body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: grey;
    color: white;
    text-align: left;
    padding: 1rem;
  }
  
  main {
    display: flex;
    gap: 10px;
    padding: 10px;
  }
  
  .main-left {
    background-color: lightgray;
    color: rgb(0, 0, 0);
    flex: 3;
    padding: 1rem;
    text-align: center;
  }
  
  .main-right {
    background-color: lightslategray;
    color: rgb(0, 0, 0);
    flex: 1;
    padding: 1rem;
    text-align: center;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    background-color: #8a8a8a;
    padding: 1rem;
  }
  
  footer div {
    flex: 1;
    margin: 0 5px;
    text-align: center;
    padding: 0.5rem;
    color: white;
  }
  
  /* Fixes alignment of footer elemnts to match up with main content */
  footer div:first-child {
    margin-left: 0;
  }
  
  footer div:last-child {
    margin-right: 0;
  }