.roboto-mono {

    h1{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    }

    h2 {
        font-weight: 500;
    }
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200; 
    font-style: normal;
    }

body {
    background-color: #caf0f8;
    color: #3C1642;
}

.snacks {
    
}

